@font-face{
    font-family: 'Dosis';
    src: url('./assets/Dosis-Regular.ttf') format('truetype'),
        url('./assets/Dosis-Medium.ttf') format('truetype'),
        url('./assets/Dosis-Bold.ttf');
        /* font-weight: 600; */
        /* font-style: normal; */
}

body{
    font-family: 'Dosis';
}

body > * {
    z-index: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    min-height: 285px;
    max-width: 900px;
    margin: 3% 0 0 0;
}

.about-me-card #main-name{
    font-size: xx-large;    
}

.about-me-card img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.about-me-card .text {
    display: flex;
    flex-direction: column;
}

.about-me-card .bio,
.about-me-card  .header-title{
    margin: 1.5% 3%;
}

.about-me-card .widget{
    width: 26px;
    align-self: flex-end;
    padding: 0 2%;
    margin: 4px;
}

.about-me-card .widgets{
    display: flex;
    justify-content: end;
    padding: 0 6%;
    
}

#main-name{
    text-align: center;
}

.header-title {
    width: max-content;
    padding: 0 5%
}

.about-me-card .bio {
    max-width: 600px;
}

.work-card{
    padding: 25px;
    width: 90%;
    max-width: 800px;
}

.work-card .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
    gap: 10px;
}

.project-card{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.project-card,
.project-image{
    border-radius: 5px;

}



.project-header{
    display: flex;
    padding: 0 3%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.project-description{
    padding: 7% 3%;
    width: fit-content;
    /* display: none; */
}

.external-link-widget{
    width: 16px;
    height: 16px;
    content: url('./assets/open-in-new.svg');
}

.contact{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
}


.contact img{
    max-width: 250px;
}

.footer-image{
    border-radius: 5px;
    
}

.contact div{
    max-width: 250px;
}

.email-section img{
    width: 16px;
    padding-right: 5%;
}

.email-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
}


.info {
    min-height: 250px;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}


.elevate{
    transition-property: box-shadow;
    transition-duration: 450ms;
}


@media(min-width: 600px){

    .elevate:hover{
        border: none;
        box-shadow: rgba(149, 157, 165, 0.5) 0px 25px 15px;
        z-index: 1;
    }
}

@media(max-width: 550px){


    .transition{
        box-shadow: rgba(149, 157, 165, 0.5) 0px 25px 15px; 
        transition-delay: 200ms;
    }
    .elevate{
        padding: 20px;
    }

    .project-card{
        height: fit-content;
    }

    .about-me-card,
    .contact{
        flex-direction: column;
    }

    .contact{
        width: 75%;
        margin-bottom: 10%;
    }

    .info{
        justify-content: center;
    }

    .email-section{
        padding-top: 25px;
    }

}